.header {
    background: linear-gradient(to right, #cb11ac 0%, #2575fc 100%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #a5f908;
    font-weight: bold;
}

.nav {
    list-style: none;
    display: flex;
}

.nav li {
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.oke {
    padding: 10px;
    color: #0cde91;
    text-align: center;
}

.search-container {
    text-align: center;
    margin-top: 10px;
}

.search-container input[type="text"] {
    padding: 12px;
    width: 60%;
    margin-right: -5px;
    border: none;
    border-radius: 8px;
}

.search-container button {
    padding: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background: linear-gradient(to right, #cb11ac 0%, #2575fc 100%);
}

article {
    padding: 20px;
    display: flex;
    grid-gap: 1em;
}

.wisata {
    border: 1px solid #fff8f8;
    padding: 1px;
    background: #f57f01;
    margin: 15px;
    width: 200px;
    height: 420px;
}

.wisata img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    margin-bottom: 8px;
}

.wisata h2 {
    color: #0c0c0c;
}

.wisata p {
    font-weight: bold;
    color: #676767;
}

button {
    background-color: #4200bd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #7800ac;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.sidebar {
    background-color: #610555;
    padding: 20px;
    float: right;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .main-nav ul {
        padding: 0;
    }
    .main-nav li {
        display: block;
        margin: 0;
    }
    .hero input[type="search"] {
        width: 80%;
    }
    main {
        grid-template-columns: 1fr;
    }
}